<% if resource.errors.any? %>
  <div id="error_explanation" data-turbo-cache="false">
    <ul>
      <% resource.errors.full_messages.each do |notice| %>

        <%= render partial: "pages/alerts", locals: { notice: notice } %>

      <% end %>
    </ul>
  </div>
<% end %>
