<div class="container">
  <div class="row justify-content-end">
    <div class="col-md-6">
      <h2 class="text-start">“We couldn't be happier with the branding strategy developed.”</h2>
      <p class="text-start">We approached Øliv for a complete rebranding of our company and we couldn't be happier with the results. Their market research and analysis helped us define our target audience and unique brand positioning. Their team then created a visually compelling logo and consistent branding across all touchpoints.</p>
      <p class="text-start">The new brand has helped us stand out in the market and increase sales. We highly recommend Øliv to any business looking to rebrand or refresh their brand.</p>
    </div>
  </div>
</div>

<div class="container mt-4">
  <div class="row justify-content-end">
    <div class="col-md-6">
      <h2 class="text-start">“We couldn't be happier with the branding strategy developed.”</h2>
      <p class="text-start">We approached Øliv for a complete rebranding of our company and we couldn't be happier with the results. Their market research and analysis helped us define our target audience and unique brand positioning. Their team then created a visually compelling logo and consistent branding across all touchpoints.</p>
      <p class="text-start">The new brand has helped us stand out in the market and increase sales. We highly recommend Øliv to any business looking to rebrand or refresh their brand.</p>
    </div>
  </div>
</div>
