<div class="container w-75 bg-secondary-subtle mx-auto">
  <div class="d-grid gap-4 col-6 mx-auto w-75 ">
    <div class="row justify-content-center align-items-center g-3 w-100">
      <div class="col-2">
        Contact
      </div>
      <div class="col mt-2">
        <p></p>
        <p class="mt-5">
          At Øliv, our goal is to craft exceptional digital experiences across all platforms. In today's digitally driven world, having a strong online presence is paramount for businesses to connect with their target audience effectively. We understand the importance of delivering seamless and engaging experiences that leave a lasting impression.
        </p>

        <%= button_tag type: 'submit', class: 'btn btn-dark btn-lg mt-5' do %>
          Apply Now <i class="bi bi-arrow-up-right"></i>
        <% end %>

      </div>
    </div>
  </div>
</div>
