<div class="row text-start w-100 justify-content-lg-end justify-content-md-start justify-content-s-start ">

  <div class="col-md-12 col-lg-2  m-md-3 bg-secondary-subtle ">
    <br>
    <h4 class="fs-6 fw-light text-uppercase">Collaboration is key</h4>
    <p class="fw-medium text-muted fs-5">Our Approach to Branding</p>
    <br>
    <br>
    <br>

    <%= button_tag 'About Strategy', type:'button', class:"btn btn-dark" %>

  </div>
  <div class="col-md-12 col-lg-2  m-md-3 bg-secondary-subtle ">
    <br>
    <h4 class="fs-6 fw-light text-uppercase">Collaboration is key</h4>
    <p class="fw-medium text-muted fs-5">Our Approach to Branding</p>
    <br>
    <br>
    <br>
    <%= button_tag 'About Strategy', type:'button', class:"btn btn-dark" %>

  </div>

  <div class="col-md-12 col-lg-2 m-md-3 bg-secondary-subtle ">
    <br>
    <h4 class="fs-6 fw-light text-uppercase">Collaboration is key</h4>
    <p class="fw-medium text-muted fs-5">Our Approach to Branding</p>
    <br>
    <br>
    <br>
    <%= button_tag 'About Strategy', type:'button', class:"btn btn-dark" %>
    <br>
    <br>
    <br>
  </div>
</div>
<br>
