<div class="row text-start w-100 justify-content-start">

  <div class="col-md-12 col-lg-2  m-md-3 bg-secondary-subtle ">
    <br>
    <h4 class="fs-6 fw-light">Services</h4>
    <p class="fw-medium text-muted fs-5">Our Approach to Branding</p>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <%= button_tag 'About Strategy', type:'button', class:"btn btn-dark" %>
  </div>
  <div class="col-md-12 col-lg-2  m-md-3 bg-secondary-subtle">

    <br>
    <h2>Visual Entity</h2>
    <p class="fw-light text-muted fs-5">We create visual elements such as logos, packaging, and marketing materials for your brand.</p>
    <%= link_to 'About Identity', root_path, class:"link-dark link-underline-secondary" %>
  </div>

  <div class="col-md-12 col-lg-2 m-md-3 bg-secondary-subtle ">
    <br>
    <h2>Digital Marketing</h2>
    <p class="fw-light text-muted fs-5">We help businesses to promote their brand online and create engaging digital experiences.</p>
    <%= link_to 'About Marketing', root_path, class:"link-dark link-underline-secondary" %>
  </div>
</div>
<br>
