Images of Team Members
<div style="inline-flex" class>
  <div class="align-text-bottom">
    <h2>Our Team of Experts</h2>
    <button type="button" class="btn btn-primary btn-sm" >About Us</button>

    <h4>JOIN THE TEAM</h4>
    <p >Want to shape the future of branding.</p>
    <h4>Join us and shape the future of branding today!</h4>
    <button type="button" class="btn btn-primary btn-sm">Apply Now</button>
  </div>

</div>
<p>Our Team</p>
<br>
