<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact</title>

  </head>
  <body>

    <%= image_tag '5', class:"mh-100", style:"width: 70%;height:180%;" %>
    <br>
    <br>
    <div class="card">
      <div class="card-body">
        <h2 class="card-title">Common Questions</h2>
        <h2 class="card-subtitle">What services do you offer for branding?</h2>
        <p class="card-text">We offer a comprehensive range of branding services, including brand strategy development, visual identity design, brand positioning, messaging, brand guidelines, and brand implementation across various platforms.</p>

        <br>
        <h2 class="card-text">What services do you offer for branding?</h2>
        <p class="card-text">We offer a comprehensive range of branding services, including brand strategy development, visual identity design, brand positioning, messaging, brand guidelines, and brand implementation across various platforms.</p>
        <br>
        <h2 class="card-text">What services do you offer for branding?</h2>
        <p class="card-text">We offer a comprehensive range of branding services, including brand strategy development, visual identity design, brand positioning, messaging, brand guidelines, and brand implementation across various platforms.</p>
        <br>
        <h2 class="card-text">What services do you offer for branding?</h2>
        <p class="card-text">We offer a comprehensive range of branding services, including brand strategy development, visual identity design, brand positioning, messaging, brand guidelines, and brand implementation across various platforms.</p>
      </div>

    </div>

  </body>
</html>
