<div id="<%= dom_id expert %>" class="w-100 card">
  <p class="w-25 mx-auto">

    <%= image_tag(expert.image, class:"w-75")%>
  </p>
  <p>
    <strong>Name:</strong>
    <%= expert.name %>
  </p>
  <p>
    <strong>Department:</strong>
    <%= expert.department %>
  </p>
</div>
