<div data-controller="imgpreview">
  <%= form.label :image, class: "form-label" %>
  <%= form.file_field :image,
    direct_upload: true,
    data: { imgpreview_target: 'input', action: "change->imgpreview#preview" },
    class: "form-control w-25" %>
  <br>
  <% if expert.image.attached? %>
    <div class="h-50">
      <%= image_tag expert.image, class:"h-50", data: { imgpreview_target: 'preview' } %>
    </div>

  <% else %>
    <%= image_tag '', data: { imgpreview_target: "preview"} %>
  <% end %>
</div>
