<div data-controller="previews">
  <%= form.label :image, class:"form-label"%>
  <%= form.file_field :image, class:"form-control w-25", id: 'image-input', onchange:"readURL(this);" %>
  <img id="img_prev" src="#" alt="" />
</div>
